<section
    id="about"
    class="max-w-6xl flex flex-col-reverse w-full mx-auto px-4 text-white py-24 lg:items-center lg:grid lg:grid-cols-2 gap-x-16 gap-y-32"
>
    <hgroup class="px-6 lg:px-0 lg:justify-self-center">
        <h2 class="text-section-title font-luckiest-guy">About Us</h2>
        <p class="max-w-xs">
            We're building something awesome — and yes, we're raising money to
            make it even more awesome. 💥
        </p>
    </hgroup>

    <article
        class="flex relative justify-center py-8 items-center gap-4 lg:gap-6 lg:justify-self-center"
    >
        <img
            src="/images/team/image-1.png"
            alt="Team Member 1"
            width="200"
            height="185"
            class="image-collage relative z-5 rotate-[-6deg] sm:mr-32 xl:mr-48"
        />
        <img
            src="/images/team/image-4.png"
            alt="Team Member 4"
            width="140"
            height="187"
            class="image-collage absolute -top-6 z-0 rotate-[5deg]"
        />
        <img
            src="/images/team/image-2.png"
            alt="Team Member 2"
            width="162"
            height="167"
            class="image-collage relative z-5 -ml-12 rotate-[2deg]"
        />
        <img
            src="/images/team/image-3.png"
            alt="Team Member 3"
            width="171"
            height="141"
            class="image-collage absolute top-36 z-10 sm:ml-24 rotate-[-3deg]"
        />
    </article>
</section>
