<section id="contact" class="text-white gap-16 flex flex-col lg:flex-row-reverse max-w-7xl w-full mx-auto px-4">
  <hgroup class="flex flex-col text-center gap-y-1">
    <h2 class="text-section-title font-luckiest-guy">Want to invest?</h2>
    <p class="text-xl">We're not going to say no, message us 😊</p>
  </hgroup>
  <form
    id="form"
    method="POST"
    novalidate
    data-astro-reload
    action="https://api.web3forms.com/submit"
    class="needs-validation flex flex-col gap-4 max-w-[450px] mx-auto w-full"
  >
    <input
      type="hidden"
      name="access_key"
      value={import.meta.env.WEB3FORMS_API_KEY}
    />

    <input
      type="checkbox"
      class="hidden"
      style="display:none"
      name="botcheck"
    />

    <label
      class="py-3 px-4 shadow-[4px_2px_0_rgba(250,250,250,1)] border-1 border-color-cs-gray"
    >
      <input
        name="name"
        type="text"
        placeholder="Introduce your name"
        class="outline-none placeholder:text-[#E1E1E1]"
      />
    </label>
    <label
      class="py-3 px-4 shadow-[4px_2px_0_rgba(250,250,250,1)] border-1 border-color-cs-gray"
    >
      <input
        required
        id="email_address"
        type="email"
        name="email"
        placeholder="Introduce your email*"
        class="outline-none placeholder:text-[#E1E1E1]"
      />
    </label>
    <label
      class="py-3 px-4 shadow-[4px_2px_0_rgba(250,250,250,1)] border-1 border-color-cs-gray"
    >
      <textarea
        name="message"
        placeholder="Drop your message here, like it's hot 🔥"
        class="outline-none w-full min-h-[50px] max-h-[150px] placeholder:text-[#E1E1E1]"
      ></textarea>
    </label>
    <div class="w-full mx-auto">
      <div
        class="h-captcha flex justify-center"
        data-captcha="true"
        data-lang="en"
        data-theme="dark"
      >
      </div>
    </div>
    <button
      type="submit"
      class="bg-white hover:bg-[#e1d8eb] cursor-pointer text-primary w-full h-[46px] font-luckiest-guy"
    >
      Send Message
    </button>
    <div id="result" class="mt-3 text-center"></div>
  </form>
  <script src="https://web3forms.com/client/script.js" async defer></script>
</section>

<script is:inline>
  // use astro:page-load event if you are using View Transitions

  document.addEventListener(
    "DOMContentLoaded",
    () => {
      const form = document.getElementById("form");
      const result = document.getElementById("result");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        form.classList.add("was-validated");
        if (!form.checkValidity()) {
          form.querySelectorAll(":invalid")[0].focus();
          return;
        }
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.innerHTML = "Sending...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.classList.add("text-green-500");
              result.innerHTML = json.message;
            } else {
              console.log(response);
              result.classList.add("text-red-500");
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.innerHTML = "Something went wrong!";
          })
          .then(function () {
            form.reset();
            form.classList.remove("was-validated");
            setTimeout(() => {
              result.style.display = "none";
            }, 5000);
          });
      });
    },
    { once: true }
  );
</script>
