---
import Link from "./Link.astro";
import NewsCard from "./NewsCard.astro";
import { news } from "../data/news.ts";
import ArrowRight from "./ui/ArrowRight.astro";
---

<section
  class="flex flex-col justify-center items-center gap-14 pt-[72px] pb-14 text-white font-luckiest-guy"
>
  <h2 class="text-6xl font-luckiest-guy self-center">LATEST NEWS</h2>
  <article
    class="grid w-full grid-cols-[368px_1fr_1fr_1fr] grid-rows-[223px_223px_315px_124px] gap-5 max-w-7xl text-black"
  >
    <div class="first-news flex">
      <img
        src="https://i.imgur.com/1ZDE2y2.png"
        alt="img"
        class="object-cover"
      />
      <div
        class="bg-white grow-1 flex flex-col gap-5"
        style="line-height: normal;"
      >
        <h3 class="text-[47px]">A game development studio creating projects</h3>
        <Link
          external
          to="/"
          class="group text-lg tracking-wider flex gap-2 items-center place-content-center w-fit"
        >
          <span
            class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-black after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
          >
            Read more
          </span>
          <ArrowRight />
        </Link>
      </div>
    </div>
    <div class="second-news flex">
      <img
        src="https://i.imgur.com/1ZDE2y2.png"
        alt="img"
        class="object-cover"
      />
      <div
        class="bg-white grow-1 flex flex-col gap-5"
        style="line-height: normal;"
      >
        <h3 class="text-[47px]">A game development studio creating projects</h3>
        <Link
          external
          to="/"
          class="group text-lg tracking-wider flex gap-2 items-center place-content-center w-fit"
        >
          <span
            class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-black after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
          >
            Read more
          </span>
          <ArrowRight />
        </Link>
      </div>
    </div>
    <div class="third-news flex">
      <img
        src="https://i.imgur.com/1ZDE2y2.png"
        alt="img"
        class="object-cover"
      />
      <div
        class="bg-white grow-1 flex flex-col gap-5"
        style="line-height: normal;"
      >
        <h3 class="text-[47px]">creating projects</h3>
        <Link
          external
          to="/"
          class="group text-lg tracking-wider flex gap-2 items-center place-content-center w-fit"
        >
          <span
            class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-black after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
          >
            Read more
          </span>
          <ArrowRight />
        </Link>
      </div>
    </div>
    <div class="fourth-news flex">
      <img
        src="https://i.imgur.com/1ZDE2y2.png"
        alt="img"
        class="object-cover"
      />
      <div
        class="bg-white grow-1 opposite-diagonal px-[90px] py-7 flex flex-col gap-5"
        style="line-height: normal;"
      >
        <h3 class="text-[47px]">we would play ourselves first</h3>
        <Link
          external
          to="/"
          class="group text-lg tracking-wider flex gap-2 items-center place-content-center w-fit"
        >
          <span
            class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-black after:border-dotted after:transition-all after:duration-300 after:ease-in-out after:content-[''] group-hover:after:w-full"
          >
            Read more
          </span>
          <ArrowRight />
        </Link>
      </div>
    </div>
    <div
      class="col-span-3 col-start-2 row-start-4 bg-black button-diagonal text-white flex justify-center items-center"
    >
      <Link to="/last-news" class="text-[42px] flex gap-2 items-center">
        REad More updates and news <ArrowRight
          class="fill-white w-[42px] h-[42px]"
        /></Link
      >
    </div>
  </article>
</section>
<style>
  .first-news {
    grid-column: span 4 / span 4;
    & img {
      width: 357px;
      height: 100%;
      clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
    }
    & div {
      padding: 28px 90px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%);
      margin-left: -33px;
    }
  }
  .second-news {
    flex-direction: column;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    & img {
      width: 100%;
      min-height: 275px;
      clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 calc(100% - 50px));
    }
    & div {
      padding: 0 28px 0 28px;
      justify-content: center;
      clip-path: polygon(0 1%, 100% 50px, 100% 100%, 0 100%);
      margin-top: -33px;
    }
  }
  .third-news {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    & img {
      width: 250px;
      height: 100%;
      clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
    }
    & div {
      padding: 28px 90px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%);
      margin-left: -33px;
      & h3 {
        max-width: 229px;
      }
    }
  }
  .fourth-news {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
    & img {
      width: 302px;
      height: 100%;
      clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
    }
    & div {
      padding: 28px 90px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50px 100%);
      margin-left: -33px;
      & h3 {
        max-width: 360px;
      }
    }
  }
  .button-diagonal {
    clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  }
</style>
