---
import Link from "./Link.astro";
import { news } from "../data/news.ts";
import ArrowRight from "./ui/ArrowRight.astro";
import NewsCardGrid from "./NewsCardGrid.astro";
---

<section id="news"
  class="flex flex-col justify-center items-center gap-14 pt-[72px] pb-14 text-white font-luckiest-guy"
>
  <h2 class="text-6xl font-luckiest-guy self-center">LATEST NEWS</h2>
  <article
    class="grid w-full grid-cols-[368px_1fr_1fr_1fr] grid-rows-[223px_223px_315px_124px] gap-5 max-w-7xl text-black"
  >
    {
      news
        .slice(0, 4)
        .map((card) => (
          <NewsCardGrid
            title={card.title}
            link={card.link}
            image={card.image}
            style={card.style}
          />
        ))
    }
    <div
      class="col-span-3 col-start-2 row-start-4 bg-black button-diagonal text-white flex justify-center items-center"
    >
      <Link to="/last-news" class="text-[42px] flex gap-2 items-center">
        REad More updates and news <ArrowRight
          class="fill-white w-[42px] h-[42px]"
        /></Link
      >
    </div>
  </article>
</section>
<style>
  .button-diagonal {
    clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  }
</style>
