---
import Link from "./Link.astro";
import { news } from "../data/news.ts";
import ArrowRight from "./ui/ArrowRight.astro";
import NewsCardGrid from "./NewsCardGrid.astro";
---

<section
  id="news"
  class="flex flex-col max-w-6xl w-full mx-auto px-4 justify-center items-center gap-10 py-20 text-white font-luckiest-guy"
>
  <h2 class="text-4xl lg:text-5xl font-luckiest-guy self-center">
    LATEST NEWS
  </h2>

  <article
    class="flex flex-col w-full lg:grid-cols-[1fr_1fr_1fr_1fr] lg:grid-rows-[180px_180px_260px_100px] gap-4 text-black lg:grid"
  >
    {
      news.map(({ image, link, title, class: extraClass }, index) => {
        const newsCardClass = (extraClass ?? '') + (index >= 4 ? ' lg:hidden' : '')
        return <NewsCardGrid {title} {link} {image} class={newsCardClass.trim()} />
      })
    }

    <div
      class="col-span-3 col-start-2 row-start-4 bg-black button-diagonal text-white flex lg:justify-center items-center"
    >
      <Link
        to="/last-news"
        class="text-2xl lg:text-3xl py-6 pl-6 flex gap-2 items-center group transition-all duration-300 ease-in-out relative"
      >
        <span
          class="relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out group-hover:after:w-full"
        >
          Read more updates and news
        </span>
        <ArrowRight
          class="fill-white w-8 h-8 transform transition-transform duration-300 ease-in-out group-hover:translate-x-1"
        />
      </Link>
    </div>
  </article>
</section>

<style>
  .button-diagonal {
    clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  }
</style>
