---
import Download from "./ui/Download.astro";
---

<section
  class="text-white flex flex-col justify-end h-[480px] not-even:relative"
>
  <article class="flex flex-col gap-4 w-full max-w-6xl px-4 mx-auto">
    <h2 class="text-section-title font-luckiest-guy lg:text-left pb-6">
      JOIN OUR NEWSLETTER
    </h2>
    <form class="flex flex-col w-full" id="newsletter-form">
      <div class="flex gap-4 flex-col lg:flex-row w-full">
        <input
          type="email"
          id="suscribe"
          name="suscribe"
          required
          placeholder="Introduce your email"
          class="border border-white px-[15px] w-full py-3 lg:w-[600px] placeholder:text-[#E1E1E1] font-semibold text-xl bg-[#3B2F45] input-search"
        />
        <button
          type="submit"
          class="bg-white px-[50px] py-4 text-primary font-luckiest-guy text-xl transition duration-150 ease-in-out input-button cursor-pointer"
        >
          SUBSCRIBE
        </button>
      </div>
    
      <label class="inline-flex items-center space-x-3 cursor-pointer select-none mt-4 text-white font-manrope text-base font-normal relative">
        <input
          id="accept"
          name="accept"
          required
          type="checkbox"
          class="w-5 h-5 rounded-md border border-gray-400 bg-white cursor-pointer relative focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <span>I agree to receive emails and accept the privacy policy</span>
      </label>
    </form>
    
  </article>
  <article
    class="flex h-[200px] bg-secondary background-diagonal px-[54px] pb-10 items-end justify-center"
  >
    <div class="w-full max-w-6xl px-4 flex justify-end">
      <a
        href="/docs/PressKit.pdf"
        download
        class="font-luckiest-guy text-4xl w-fit border-4 border-white px-5 py-3 flex gap-4 items-center justify-center cursor-pointer transition duration-150 ease-in-out input-button"
      >
        <Download />
        PRESS KIT
      </a>
    </div>
  </article>

  <img
    src="/images/star-lg.webp"
    alt="star large"
    class="absolute top-[90px] right-[88px]"
  />
  <img
    src="/images/star-md.webp"
    alt="star medium"
    class="absolute top-[46px] right-[178px]"
  />
  <img
    src="/images/star-sm.webp"
    alt="star small"
    class="absolute top-[185px] right-[75px]"
  />
</section>
<div
  id="toast"
  class="fixed bottom-6 right-6 z-50 bg-green-500 text-white py-3 px-5 rounded shadow-lg opacity-0 pointer-events-none transition-opacity duration-300"
>
  🎉 You’ve successfully subscribed!
</div>



<style>
  .input-search {
    box-shadow: 5px 5px 0 0 #ededed;
    transition:
      box-shadow 0.15s ease-in-out,
      transform 0.15s ease-in-out;
  }

  .input-search:focus {
    transform: none;
    box-shadow: none;
  }

  .input-button {
    box-shadow: 5px 5px 0 0 #ededed;
    transition:
      box-shadow 0.15s ease-in-out,
      transform 0.15s ease-in-out;
  }
  .input-button:hover {
    transform: none;
    box-shadow: none;
  }
</style>


<script type="module">
  const form = document.getElementById("newsletter-form");
  const toast = document.getElementById("toast");

  form?.addEventListener("submit", (e) => {
    e.preventDefault();

    const checkbox = document.getElementById("accept");
    if (!checkbox.checked) {
      alert("You must accept the privacy policy to subscribe.");
      return;
    }

    showToast();
    form.reset();
  });

  function showToast() {
    toast.classList.remove("opacity-0", "pointer-events-none");
    toast.classList.add("opacity-100");

    setTimeout(() => {
      toast.classList.add("opacity-0", "pointer-events-none");
      toast.classList.remove("opacity-100");
    }, 3000);
  }
</script>
