---
import Link from "./Link.astro";
---

<section id="games" class="relative h-[700px] overflow-hidden">
  <img
    class="object-cover absolute inset-0 w-full h-full"
    src="/images/Arte_SPACEDIVA.png"
    alt="Background Art Space Diva"
  />

  <div
    class="absolute inset-0 max-w-6xl w-full mx-auto px-4 flex flex-col-reverse lg:grid lg:grid-cols-2 text-white"
  >
    <div
      class="flex flex-col justify-center items-center lg:items-start lg:w-full text-center lg:text-left"
    >
      <h1 class="text-5xl lg:text-7xl mb-2 font-luckiest-guy">Space Diva</h1>
      <p class="text-xl  flex max-w-md lg:w-8/12 w-5/6">
        A game development studio creating projects that primarily we would play
        ourselves first, and then aim at massive audiences.
      </p>
      <div
        class="mt-5 mb-25 flex flex-col-reverse lg:flex-row space-y-reverse space-y-4 lg:space-y-0 lg:space-x-4 lg:w-9/12 text-center text-xl"
      >
        <Link
          external
          to="https://store.steampowered.com/app/3044510/Space_Diva/"
          class="text-primary hover:shadow-[5px_5px_0_rgba(237,237,237,5)] flex items-center justify-center transition duration-150 ease-in-out hover:translate-[-8px] shadow-[0_0_0_rgba(237,237,237,1)] bg-white px-3 py-5 w-80 lg:w-55 h-[55px] font-luckiest-guy"
        >
          WISHLIST 
        </Link>

        <Link
          external
          to="https://store.steampowered.com/app/3044510/Space_Diva/"
          class="text-white hover:shadow-[5px_5px_0_rgba(237,237,237,5)] flex items-center justify-center transition duration-150 ease-in-out hover:translate-[-8px] shadow-[0_0_0_rgba(237,237,237,1)] border-3 border-white px-3 py-5 lg:w-55 h-[55px] font-luckiest-guy"
        >
          PLAY DEMO
        </Link>
      </div>
    </div>

    <div
      class="relative w-full h-full flex justify-center lg:block mt-10 lg:pt-0"
    >
      <img
        src="/images/group_diva.png"
        alt="Group Diva"
        class="w-full h-full object-contain lg:h-[85%] absolute lg:bottom-10 right-0"
      />
    </div>
  </div>
</section>
